mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover, a:active{
    color: lightgray;
}

.logo{
    margin-left: 80px;
}